--- rules/base.extras.xml.in	2013-12-02 22:42:01.412960467 +0100
+++ rules/base.extras.xml.in	2013-12-02 22:41:59.192960333 +0100
@@ -679,8 +679,16 @@
         <name>se</name>
         <_shortDescription>sv</_shortDescription>
         <_description>Swedish</_description>
-	  </configItem>
-	  <variantList>
+      </configItem>
+      <variantList>
+        <variant>
+          <configItem>
+            <name>dvorak_a5</name>
+            <_description>Swedish (Dvorak A5)</_description>
+          </configItem>
+        </variant>
+      </variantList>
+      <variantList>
         <variant>
           <configItem>
             <name>sun_type6</name>
